<h1>Buchformular</h1>
<form class="ui large form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <!-- TITLE -->
  <div class="field">
    <label for="title">Buchtitel</label>
    <input formControlName="title" required>
    <div class="ui negative message" *ngIf="errors.title">{{errors.title}}</div>
  </div>
  <!-- SUBTITLE -->
  <div class="field">
    <label for="subtitle">Untertitel</label>
    <input formControlName="subtitle">
  </div>
  <!-- ISBN -->
  <div class="field" [class.disabled]="isUpdatingBook">
    <label for="isbn">ISBN-Nummer</label>
    <input formControlName="isbn" minlength="10" maxlength="13" required>
    <div class="ui negative message" *ngIf="errors.isbn">
      {{ errors.isbn }}
    </div>
  </div>
  <!-- PUBLISHED -->
  <div class="field">
    <label for="published">Erscheinungsdatum</label>
    <input type="date" formControlName="published" useValueAsDate required>
    <div class="ui negative message" *ngIf="errors.published">
      {{ errors.published}}
    </div>
  </div>
  <!-- AUTHOR -->
  <div class="field">
    <label for="authors">Autoren</label>
    <div class="fields" formArrayName="authors">
      <div class="fifteen wide field" *ngFor="let control of authors.controls; index as i">
        <input [formControlName]="i" placeholder="Autor {{i+1}}">
      </div>
      <div class="one wide field">
        <button class="ui large button" type="button" (click)="addAuthorControl()"> + </button>
      </div>
    </div>
    <div class="ui negative message" *ngIf="errors.authors">
      {{ errors.authors }}
    </div>
  </div>
  <!-- DESCRIPTION -->
  <div class="field">
    <label for="description">Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>
  <!-- THUMBNAIL -->
  <div class="field">
    <label for="thumbnail">Bilder</label>
    <div formArrayName="thumbnails">
      <div class="fields" *ngFor="let control of thumbnails.controls; index as i; last as l;" [formGroupName]="i">
        <div class="nine wide field">
          <input formControlName="url" placeholder="http://bild{{i+1}}_url">
        </div>
        <div class="six wide field">
          <input formControlName="title" placeholder="Bild {{i+1}}">
        </div>
        <div class="one wide field">
          <button class="ui large button" type="button" (click)="addThumbnailControl()"> + </button>
        </div>
      </div>
    </div>
  </div>
  <!-- BUTTON -->
  <button class="ui button" type="submit" [disabled]="myForm.invalid">Speichern</button>
</form>