<div class="ui" id="page-container">
    <!-- MENU -->
    <div class="ui attached stackable menu">
        <div class="ui container five item menu">
            <a class="item" [routerLink]="['home']" routerLinkActive="active">Home</a>
            <a class="item" [routerLink]="['books']" routerLinkActive="active">Books</a>
            <a class="item" [routerLink]="['admin']" routerLinkActive="active">Administration</a>
            <div class="right item">
                <div class="ui input">
                    <!-- Search -->
                    <bm-search class="column" (bookSelected)="bookSelected($event)"></bm-search>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN -->
    <div class="ui main container" id="main-content">
        <router-outlet></router-outlet>
        <!-- FOOTER -->
        <footer id="footer" class="">
            <div class="ui container">
                <p>Robb Moskv &copy; 2019</p>
            </div>
        </footer>
    </div>

</div>