
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
}

.wireframe {
  margin-top: 2em;
}

/* Show as to be translated fields */
[i18n],
[i18n-placeholder],
[i18n-title] {
border: 1px solid green !important;
}


#main-content{
  padding-bottom: 7em;
}

#footer {
  height: 3em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3em 0em;
  text-align: center;
}