<div class="ui two column grid" id="home-image">
    <div class="column">
        <h1 class="ui dividing header" i18n="@@HomeComponent:header">
            The Book Monkey App
        </h1>
        <p i18n="a proud sentence about the project@@HomeComponent:tagline">
            Ihre Plattform für aktuelle und interessante Wissens-Bücher!
        </p>
        <a routerLink="../books" class="ui huge primary button">
            <ng-container i18n="Text of the link to the books screen@@HomeComponent:book list link">
                Buchliste ansehen
            </ng-container>
            <i class="right arrow icon"></i>
        </a>
    </div>
</div>